@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins{
    font-family: "Poppins", sans-serif;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* navbar start here */
nav{
    max-width: 90rem;
    background-color: rgba(7, 7, 209, 0.671);
    margin: 0 auto;
}
.navbar{
    max-width:72.5rem;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.menubar-icone{
    display: none;
}
.menubar-icon{
    color: white;
    
}
.menubar{
    width:36.68rem;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom:59px;
}
.menubar li{
    list-style: none;
}
.menubar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.login-btn{
    width: 123px;
    background: rgb(224, 44, 109);
    padding: 10px 24px 10px 24px;
    gap: 10px;
}
.icon{
    margin-right: 12px;
}
.login-btn button{
    background: rgb(224, 44, 109);
    border: 1px solid rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
}
/* navbar part ends here */
/* banner part start here */
.banner{
    max-width:72.5rem;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
}
.banner-info{
margin-right: 110px;
}
.banner-info h4{
    max-width: 485px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 54px;
    margin-bottom: 27px;
}
.banner-info button{
    width: 168px;
    height: 44px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    background: rgb(224, 44, 109);
    padding-left: 24px;
    border: 1px solid rgb(224, 44, 109);
}
.icons{
    margin-left: 15px;
}
.banner-img{
    max-width: 34.75rem;
    max-height: 27.5rem;
}
.banner-img img{
    max-width: 100%;
    max-height: 100%;
}
/* banner part ends here */
/* main part start here */
.main{
    max-width:65.62rem;
    margin: 0 auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 165px;
}
.card{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    
}
.card img{
    width: 300px;
    height: 256px;
    margin: 13px 13px 16px 13px;
}
.card h4{
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 13px;
    margin-bottom: 10px;
}
.card p{
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 13px;
}
/* copa */
.copa-ame{
    max-width:69rem;
    display: flex;
    margin-bottom: 158px;
    margin-left: 425px;
}
.copa-info{
    max-width: 29.125rem;
    margin-top: 59px;
    margin-right: 69px;
}
.copa-info h4{
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    width: 469px;
    margin-bottom: 8px;
}
.copa-info p{
    max-width: 25.25rem;
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}
.copa-img{
   max-width: 35.5rem;
   max-height: 26.68rem;
}
.copa-img img{
    max-width: 100%;
    height: 100%;

}

/* footer */
.footer{
    max-width: 30.25rem;
    margin: 0 auto;
}
.footer img{
    max-width: 100%;
    height: 110px;
    margin-left: 25px;
    margin-bottom: 20px;

}
.footer-icons{
    max-width:170px;
    max-height: 32px;
    margin: 0 auto;
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}
.footer-icons img{
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    background: rgb(11, 13, 23);
    opacity: 0.4;
    margin-left: 9px;
}
.footer p{
    color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align:center;
margin-bottom: 63px;
}